@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

html {
    @apply .font-text;
    @apply .font-thin;
    @apply .leading-loose;
    @apply .text-brand-color-black;

    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0.02em;

    @screen lg {
        font-size: 1.3vw;
    }

    @screen xl {
        font-size: 21px;
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply .font-heading;
    @apply .font-medium;
    @apply .leading-normal;
    @apply .tracking-wide;
}

hr {
    @apply .bg-brand-color-black;
    @apply .mb-10;
    @apply .-ml-5;

    height: 3px;
    width: 20px;
}
