.menu-item {
    @apply relative;
    @apply py-2;

    display: none;

    &:after {
        @apply absolute;
        @apply bg-white;
        @apply h-px;
        @apply invisible;
        @apply pin-b;
        @apply pin-l;
        @apply w-full;

        content: '';
        transform: scaleX(0);
        transition: transform .2s;
    }

    &:hover {
        &:after {
            @apply visible;
            transform: scale(1);
        }
    }

    @screen bt {
        display: block;
    }
}

.menu-item-large {
    display: none;

    @screen md {
        display: inline;
    }
}
